@charset "UTF-8";
/* ----- CSS DOCUMENT ----- */

/* ---- GRID ----- */
body, html {
  text-align: center;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-size: 1em;
}

section {
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

/* ----- RESPONSIVE BREAKPOINTS ---- */

/* ----- FOR SMALL SCREEN WITH MAXIMUM WIDTH 768px ----- */
@media (max-width: 768px) {
	body {
    /*width: 100%;*/
    background: #1F1F1F;
  }
  h1 {
    color: #7b7d70;
  }
  h2 {
    color: #4eafb8;
  }
  p {
    color: #ff8641;
  }
}

/* ----- FOR TABLET SCREEN 768px WIDE AND LARGER ----- */
@media (min-width: 768px) {
	body {
    /*width: 100%;*/
    background: #1F1F1F;
  }
  h1 {
    color: #02cbd2;
  }
  h2 {
    color: #fcc02a;
  }
  p {
    color: #7b8f8e;
  }
}

/* ----------- FOR DESKTOP SCREEN 1200px WIDE AND LARGER ----------- */
@media (min-device-width: 1200px) {
  body {
    /*width: 100%;*/
    background: #1F1F1F;
  }
  h1 {
    color: #6e4b61;
  }
  h2 {
    color: #cabd61;
  }
  p {
    color: #c19e74;
  }
} 